<div class="container" style="margin-top: 56px">


  <div class="row align-items-center">
    <div class="col-1">
    </div>
    <div class="col-10">

      <div>

        <h1 style="color: black">
          WORK IN PROGRESS
        </h1>


      </div>
    </div>

    <div class="col-1">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


<div class="fixed-bottom">
  <small>version: {{ version }}</small>
  <small> hash: {{ hash }}</small>
  <small> last updated: {{ lastUpdate }}</small>
</div>