.fork-banner {
    font-family: tahoma;
    font-size: 20px;
    position:fixed;
    top:50px;
    right:-45px;
    display:block;
    transform: rotate(45deg);
    background-color:hotpink;
    color:black;
    padding: 4px 30px 4px 30px;
    z-index:999999
}


.cppviz-fixed-bottom {
    background-color: #373B42;
    color: #FEFFF9;
    font-size: 1.00rem;
}
