<a href="https://gitlab.com/cpppack_viz/cpppack_viz">
    <span class="fork-banner">Fork Me On GitLab</span>
</a>
<!-- TODO: put this in a component -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">CPPpackViz</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#/vcpkg"> Vcpkg</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/conan">Conan</a>
            </li>
        </ul>
        <!-- <form class="form-inline mt-2 mt-md-0">
            <div class="col-md-6" *ngIf="!isAuthenticated">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="trySignup()">Sign up</button>
            </div>
            <div class="col-md-6" *ngIf="!isAuthenticated">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="tryLogin()">Log In</button>
            </div>
            <div class="col-md-6" *ngIf="isAuthenticated">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="goToWebApp()">WebApp</button>
            </div>
        </form> -->

    </div>
</nav>

'https://gitlab.com/cpppack_viz/cpppack_viz/issues/new'
<router-outlet></router-outlet>

<div class="fixed-bottom cppviz-fixed-bottom">
    <small>version: {{ version }}</small>
    <small> hash: {{ hash }}</small>
    <small> last updated: {{ lastUpdate }}</small>
</div>