<div class="container chart-container">
  <div class="row align-items-center">
    <div class="col-1">
    </div>
    <div class="col-10">
      <h1>Number of C/C++ packages on VcPkg</h1>
      <br>
      <div>
        <div id="chartdiv" style="width: 100%; height: 500px"></div>
      </div>
    </div>

    <div class="col-1">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>