@import '~highlight.js/styles/atom-one-dark.css';


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search-container {
    padding-top: 50px;
}

.package-list {
    padding-top: 50px
}
