<div class="container search-container">
  <br />
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search packages"
              name="first" [(ngModel)]="pkgFilter.pkgName">
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<div class="container package-list">
  <div class="row align-items-center">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div>

        <accordion>
          <accordion-group *ngFor="let pkg of packages | filterBy: pkgFilter" style="text-align: left">
            <button class="btn btn-link btn-block clearfix" accordion-heading>
              <div class="pull-left float-left"> {{ pkg.pkgName }}</div>
              <span class=" float-right pull-right">
                <a target="_blank" href="{{pkg.upstream}}">
                  <img class="img-reponsive img-rounded" src="assets/icons/iconfinder_external-link_1608686.svg" style="height:20px " />
                </a>
              </span>
            </button>
            <b style="text-align: left">Description:</b>
            <p style="text-align: left">{{ pkg.description}}</p>
            <b style="text-align: left">Install & Use:</b>
            <pre style="  border-radius: 5px;            "><code class="bash" highlight="vcpkg install {{ pkg.pkgName }} - find_package({{ pkg.pkgName }})"></code></pre>
            <!-- <pre><code class="plaintext" highlight="find_package({{ pkg.pkgName }})"></code></pre> -->
            <!-- TODO: enable this -->
            <!-- <button ngxClipboard [cbContent]="'vcpkg install {{ pkg.pkgName }}'">Copy</button> -->

            <div *ngIf="pkg.buildDepends.length > 0 && pkg.buildDepends[0] !== ''" style="text-align: left">
              <b>Dependencies:</b>
              <ul>
                <li *ngFor="let dependency of pkg.buildDepends">{{dependency}}</li>
              </ul>
            </div>

          </accordion-group>
        </accordion>
        <div class="list-group-item" *ngIf="(packages | filterBy: pkgFilter).length === 0">
          No matching elements
        </div>
      </div>
    </div>

    <div class="col-md-1">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>